/* <navbar> */
nav{
    font-size: 17px;
    padding: .5em;
    background-color: #f6f6f6;
    position: fixed;
    top: 0;
    width: 100%;
}
nav form{
    display: inline-block;

}

.right{
    float:right;
}
/* </navbar> */

/* <main> */
main{
    margin-top:100px;
}
/* </main> */

/* <trending_posts> */
#trending_posts div{
    border: 1px dashed grey;
    margin: .3em;
}
a{
    text-decoration: none;
    color: inherit;
}
/* </trending_posts> */

/* <footer> */
footer{
    margin-top: 1em;
    background-color: #f6f6f6;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 1em;
}
.heart{
    color: red;
}
/* </footer> */

/* <misc> */
br{
    display: block;
    content: "";
    height: 1em;
}
button a{
    color: white;
}
button a:hover{
    color: white;
    font-weight: bold;
}
/* </misc> */